---
import { Sprite } from "astro-icon"
import MainLayout from "~/layouts/MainLayout.astro"
import AllInOneToolkit from "./_components/AllInOneToolkit.astro"
import GetStarted from "./_components/GetStarted.astro"
import Hero from "./_components/Hero.astro"
import ProductAndServices from "./_components/ProductAndServices.astro"
import SellingPoints from "./_components/SellingPoints.astro"
import Testimonials from "./_components/Testimonials.astro"
import WhoWeAre from "./_components/WhoWeAre.astro"

export const prerender = true
---

<Sprite.Provider>
	<MainLayout image={{ src: "/og/astro.jpg", alt: "Astro - Build the web you want." }}>
		<Hero />
		<div class="relative">
			<div class="noise-underlay bg-grid absolute inset-0"></div>
			<div class="relative grid gap-32 sm:gap-40 md:gap-48 lg:gap-64">
				<WhoWeAre />
				<SellingPoints />
				<AllInOneToolkit />
				<ProductAndServices />
				<Testimonials />
				<GetStarted />
				<!-- <Price /> -->
				<!-- <FAQ /> -->
			</div>
		</div>
		<!-- <Sponsors /> -->
	</MainLayout>
</Sprite.Provider>
