---
import siteInfo from "~/data/site-info.js"
import ShopconnaLogo from "./ShopconnaLogo.astro"
import ResourcesMenu from "./ResourcesMenu.astro"
import SocialLinks from "./SocialLinks.astro"

const socialLinks = siteInfo.socialLinks.filter((link) => !link.footerOnly)
---

<a href="/" rel="prefetch" title="Home" data-home-link>
	<ShopconnaLogo />
</a>

<script>
	import { getElement } from "~/helpers/dom.js"
	getElement("[data-home-link]", HTMLAnchorElement).addEventListener("contextmenu", (event) => {
		event.preventDefault()
		window.location.href = "/press#assets"
	})
</script>

<div class="ml-16 hidden shrink flex-row items-center gap-16 lg:flex">
	<a href="https://docs.shopconna.com" class="link">Documentation</a>
	<a href="/toolkits/" rel="prefetch" class="link">Toolkits</a>
	<ResourcesMenu />
	<a href="/blog/" rel="prefetch" class="link">Blog</a>
	<a href="/about/" rel="prefetch" class="link">About</a>
</div>

<div class="flex-1"></div>

<div class="hidden sm:block">
	<SocialLinks links={socialLinks} />
</div>
