<section class="bg-blueGray-50 relative overflow-hidden pb-16 pt-16">
	<div class="absolute -top-10" id="FAQ"></div><div style="opacity: 1;">
		<div class="container relative z-10 mx-auto w-11/12 px-2 sm:w-full sm:px-8 lg:px-4">
			<div class="mx-auto md:max-w-4xl">
				<p class="custom-block-subtitle mb-7 text-center">We have the answers</p><h2
					class="custom-block-big-title mb-16 text-center"
				>
					Frequently Asked Questions
				</h2><div class="-m-1 mb-11 flex flex-wrap">
					<div class="w-full p-1">
						<div
							class="bg-customDarkBg3 custom-border-gray-darker hover:bg-customDarkBg3Hover relative mb-4 cursor-pointer rounded-3xl px-3 pb-2 pt-2 sm:px-8 sm:pt-6"
						>
							<div class="flex flex-col items-start justify-center p-2">
								<h3 class="custom-content-title pr-8 pt-3 sm:pr-0 sm:pt-0">
									Does Terrateam run Atlantis behind the scenes?
								</h3><p
									class="text-customGrayText max-h-96 overflow-hidden pt-4 transition-all duration-300"
								>
									No. We built the Terrateam server from the ground up. The Atlantis-style workflow
									inspired us to build the best Terraform experience on GitHub.
								</p>
							</div><div class="absolute right-4 top-6 sm:right-8 sm:top-8">
								<svg
									width="28px"
									height="30px"
									viewBox="0 0 20 20"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
									class="rotate-[180deg] transition-all duration-500"
									><path
										d="M4.16732 12.5L10.0007 6.66667L15.834 12.5"
										stroke="#4F46E5"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"></path></svg>
							</div>
						</div>
					</div><div class="w-full p-1">
						<div
							class="bg-customDarkBg3 custom-border-gray-darker hover:bg-customDarkBg3Hover relative mb-4 cursor-pointer rounded-3xl px-3 pb-2 pt-2 sm:px-8 sm:pt-6"
						>
							<div class="flex flex-col items-start justify-center p-2">
								<h3 class="custom-content-title pr-8 pt-3 sm:pr-0 sm:pt-0">
									Does Terrateam have usage limits?
								</h3><p
									class="text-customGrayText max-h-0 overflow-hidden pt-4 transition-all duration-300"
								>
									No. Terrateam does not have usage limits. You can run as many plan and apply
									operations as you want with no extra charge.
								</p>
							</div><div class="absolute right-4 top-6 sm:right-8 sm:top-8">
								<svg
									width="28px"
									height="30px"
									viewBox="0 0 20 20"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
									class="rotate-[270deg] transition-all duration-500"
									><path
										d="M4.16732 12.5L10.0007 6.66667L15.834 12.5"
										stroke="#4F46E5"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"></path></svg>
							</div>
						</div>
					</div><div class="w-full p-1">
						<div
							class="bg-customDarkBg3 custom-border-gray-darker hover:bg-customDarkBg3Hover relative mb-4 cursor-pointer rounded-3xl px-3 pb-2 pt-2 sm:px-8 sm:pt-6"
						>
							<div class="flex flex-col items-start justify-center p-2">
								<h3 class="custom-content-title pr-8 pt-3 sm:pr-0 sm:pt-0">
									Does Terrateam access my code?
								</h3><p
									class="text-customGrayText max-h-0 overflow-hidden pt-4 transition-all duration-300"
								>
									No. Your source code never reaches our servers. GitHub Actions runtime
									environments are isolated to your GitHub organization. The Terrateam GitHub Action
									is open-source.
								</p>
							</div><div class="absolute right-4 top-6 sm:right-8 sm:top-8">
								<svg
									width="28px"
									height="30px"
									viewBox="0 0 20 20"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
									class="rotate-[270deg] transition-all duration-500"
									><path
										d="M4.16732 12.5L10.0007 6.66667L15.834 12.5"
										stroke="#4F46E5"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"></path></svg>
							</div>
						</div>
					</div><div class="w-full p-1">
						<div
							class="bg-customDarkBg3 custom-border-gray-darker hover:bg-customDarkBg3Hover relative mb-4 cursor-pointer rounded-3xl px-3 pb-2 pt-2 sm:px-8 sm:pt-6"
						>
							<div class="flex flex-col items-start justify-center p-2">
								<h3 class="custom-content-title pr-8 pt-3 sm:pr-0 sm:pt-0">
									How long does Terrateam store Terraform plans?
								</h3><p
									class="text-customGrayText max-h-0 overflow-hidden pt-4 transition-all duration-300"
								>
									Encrypted plan files are deleted as soon as they are used by their respective
									apply, after an unlock is performed, or after 14 days.
								</p>
							</div><div class="absolute right-4 top-6 sm:right-8 sm:top-8">
								<svg
									width="28px"
									height="30px"
									viewBox="0 0 20 20"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
									class="rotate-[270deg] transition-all duration-500"
									><path
										d="M4.16732 12.5L10.0007 6.66667L15.834 12.5"
										stroke="#4F46E5"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"></path></svg>
							</div>
						</div>
					</div><div class="w-full p-1">
						<div
							class="bg-customDarkBg3 custom-border-gray-darker hover:bg-customDarkBg3Hover relative mb-4 cursor-pointer rounded-3xl px-3 pb-2 pt-2 sm:px-8 sm:pt-6"
						>
							<div class="flex flex-col items-start justify-center p-2">
								<h3 class="custom-content-title pr-8 pt-3 sm:pr-0 sm:pt-0">
									Do you really have same-day business support?
								</h3><p
									class="text-customGrayText max-h-0 overflow-hidden pt-4 transition-all duration-300"
								>
									Yes, we really have same-day business support for all of our plans. When a
									customer reaches out to us for support, we see this as a golden opportunity to
									improve Terrateam. Whether that's by automating a process, updating our
									documentation, or creating a new feature request in our backlog, it's a way to
									improve the developer experience.
								</p>
							</div><div class="absolute right-4 top-6 sm:right-8 sm:top-8">
								<svg
									width="28px"
									height="30px"
									viewBox="0 0 20 20"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
									class="rotate-[270deg] transition-all duration-500"
									><path
										d="M4.16732 12.5L10.0007 6.66667L15.834 12.5"
										stroke="#4F46E5"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"></path></svg>
							</div>
						</div>
					</div><div class="w-full p-1">
						<div
							class="bg-customDarkBg3 custom-border-gray-darker hover:bg-customDarkBg3Hover relative mb-4 cursor-pointer rounded-3xl px-3 pb-2 pt-2 sm:px-8 sm:pt-6"
						>
							<div class="flex flex-col items-start justify-center p-2">
								<h3 class="custom-content-title pr-8 pt-3 sm:pr-0 sm:pt-0">
									Is Terrateam secure?
								</h3><p
									class="text-customGrayText max-h-0 overflow-hidden pt-4 transition-all duration-300"
								>
									Terrateam takes security very seriously. See our Security page for details.
								</p>
							</div><div class="absolute right-4 top-6 sm:right-8 sm:top-8">
								<svg
									width="28px"
									height="30px"
									viewBox="0 0 20 20"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
									class="rotate-[270deg] transition-all duration-500"
									><path
										d="M4.16732 12.5L10.0007 6.66667L15.834 12.5"
										stroke="#4F46E5"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"></path></svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
