---
import LandingSectionText from "./LandingSectionText.astro"
---

<section class="landing-section">
	<LandingSectionText>
		<Fragment slot="title">Who we are</Fragment>
		<Fragment slot="body">
		ShopConna is the ultimate open-source brand building toolkit that revolutionizes the way you shape your brand's identity. With a powerful combination of the best developer tools, ChatGPT, AI, RPA, and other automation technologies, ShopConna becomes your indispensable copilot, offering a hands-free, time-saving, and budget-controlled approach to brand building.

		</Fragment>
	</LandingSectionText>

	<!-- <div class="mt-12 w-full max-w-5xl px-4">
		<Card>
			<CardBody>
				<CardLabel>Real-World Performance Comparison</CardLabel>
				<CoreWebVitalsGraph />
				<CardFooter>
					<p class="text-center">
						Based on <a href="https://httparchive.org/" class="link-underline">HTTP Archive</a> real-world
						performance data (Lighthouse, P90) • <a
							href="/blog/2023-web-framework-performance-report/"
							class="link-underline">Read the full report</a
						>
					</p>
				</CardFooter>
			</CardBody>
		</Card>
	</div> -->
</section>
